@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Simple SignIn & Edit Application</h2>
    <p>Uses Identity EF Core to save and edit basic (email and password) user data in AspNetUsers table in Users database</p>
    <p>Cookies can be set to session or persistent ("Remember Me" checkbox)</p>   
    <p>Real application could use claims to store user information</p>
</div>
